@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #222;
  background: linear-gradient(to bottom right, #0c0701, #ff9100) fixed;
  font-family: "PT Sans Narrow", sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}

h1 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
  text-align: center;
  letter-spacing: 10px;
  margin: 50px 0 0;
  text-transform: uppercase;
}

.lclick {
  margin: 0;
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.rclick {
  margin: 0 0 20px 0;
  color: #ff9100;
  font-size: 1.5rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

span {
  color: #ff9100;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 90vw;
}

.left,
.right {
  position: absolute;
  cursor: none;
  font-size: 3.5rem;
  width: 80px;
  height: 100px;
  margin: 0;
  padding: 5px;
  top: 50px;
  z-index: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.sarah {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  min-width: 200px;
  /* flex: 1; */
  height: 650px;
  border: 5px solid #0c0701;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  margin: 50px 10px;
  padding: 20px;
  transform: scale(0.9) rotate3d(0, 0, 0, 0);
  transition: all 0.5s ease-in;
  z-index: 2;
}

.sarah:hover {
  transform: scale(1.1);
}

.sarah.active {
  transform: rotate3d(0, 2, 0.5, 3.142rad) scale(1.2);
  border: 5px solid #ff9100;
}

@media (max-width: 1000px) {
  body {
    overflow: visible;
  }

  .container {
    width: 100%;
    flex-wrap: wrap;
  }

  h1 {
    font-size: 1.5rem;
  }

  .left,
  .right {
    font-size: 2rem;
  }

  .lclick,
  .rclick {
    font-size: 1rem;
  }

  .note {
    display: none;
  }

  .sarah {
    min-width: 120px;
    min-height: 200px;
  }
}
